.titleUnderline {
    display: flex;
    align-items: center;
    height: 10px;
    width: fit-content;
    position: relative;
    /* border: 1px solid yellow; */
    width: 100%;
}

.titleUnderlineSVGWrapper {
    /* border: 1px solid cyan; */
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: relative;
}

.titleUnderlineSVGWrapper:nth-child(3) {
    transform: rotateY(180deg);
}

.titleUnderlineSVG {
    display: flex;
    fill: url(#titleUnderlineRadialGradient);
    height: 3px;
    transition: 1s;
    max-width: 200px;
}

#titleUnderlineRadialGradient {
    --color-stop-1: rgb(27, 10, 255);
    --color-stop-2: rgb(255, 94, 0);
}

.titleUnderline .dot {    
    display: flex;
    height: 7px;
    width: 15px;
    margin: 0px 5px;
    border-radius: 50px;
    background: radial-gradient(blueviolet, blue);
    /* display: none; */
}