/* * {
    filter: none !important;
    box-shadow: none !important;
} */

/* *::before {
    display: none !important;
} */

.todoContainer {
  /* display: none; */
  width: 90%;
  margin-left: 15px;
  min-height: 500px;
  /* max-height: 500px; */
  /* overflow-y: scroll; */
  /* border: 2px solid black; */
  /* background: linear-gradient(rgb(84, 101, 111), rgb(107, 164, 193)); */

  /* background: linear-gradient(to top, rgb(49, 63, 71) 0%, rgb(16, 59, 111) 30%); */
  /* background: radial-gradient(rgb(9, 55, 112), rgb(25, 46, 58)); */
  /* background: radial-gradient(rgb(43, 76, 168), rgb(0, 0, 7)); */
  background: radial-gradient(rgb(43, 76, 168), rgb(7, 7, 37));
  border-radius: 20px;

  margin-top: 50px;
  padding: 0px;
  padding-bottom: 20px;
  position: relative;
  border: 1px solid rgb(0, 132, 255);
  transition-duration: 2s;
  box-shadow: 0 0 20px 10px black, inset 0 0 5px rgba(137, 43, 226, 0), inset 0 0 80px rgba(137, 43, 226, 0);
}

.todoContainerNeon {
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0), inset 0 0 5px rgba(137, 43, 226, 1), inset 0 0 80px rgba(137, 43, 226, 0.5);
}

.todoContainer p {
  /* display: none; */
}

@media screen and (max-width: 800px) {
  .todoContainer {
    /* width: 89%; */
    margin-right: 5px;
  }
}

.todoContainer::before {
  transition: 1s;
  position: absolute;
  content: "";
  top: -4px;
  left: -4px;
  width: calc(100% + 7px);
  height: calc(100% + 7px);
  border-radius: 25px;
  /* border: 1px solid cyan; */
  border: 1px solid rgb(0, 119, 255);
}

.todoContainerNeon::before {
  border: 1px solid cyan;
  filter: drop-shadow(0 0 2px cyan) drop-shadow(0 0 10px blueviolet) /* drop-shadow(0 0 10px blueviolet) */ drop-shadow(0 0 5px cyan)
    drop-shadow(0 0 5px blueviolet);
}

/* ABeeZee|Allura|Italiana|Montserrat|Philosopher|Playball|Poiret+One|Quicksand|Sofia */
.projectName {
  font-family: Playball;
  font-weight: lighter;
  /* color: rgb(208, 144, 102); */
  background: -webkit-linear-gradient(rgb(255, 96, 22), rgb(255, 227, 101));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0px;
  padding: 0px;
  height: unset;
  margin-top: -6px;
  white-space: pre;
}

.categoryNameWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* width: fit-content; */
  width: 100%;
  position: relative;
  margin-left: 15px;
  /* border: 1px solid red; */
}

.categoryName {
  font-family: Philosopher;
  font-weight: lighter;
  padding: 0px;
  margin: 0px;
  /* color: rgb(218, 225, 245); */
  background: -webkit-linear-gradient(rgb(255, 159, 96), rgb(124, 101, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* border: 1px solid red; */
  /* width: 130px; */
  /* border: 1px solid red; */
}

.todoListDivWrapper {
  /* border: 2px solid red !important; */
}

.todoListDiv {
  /* border: 2px solid red; */
}

.todoListDiv {
  /* display: none; */
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  margin: 0px;
  margin-top: 20px;
  /* box-shadow: 0 0 5px 0 black; */
  border-radius: 20px;
  /* border: 2px solid blue; */

  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);

  /* Custom Counter */

  /* Initiate a counter */
  counter-reset: li;
  /* Remove default numbering */
  list-style: none;
  /* border: 2px solid white !important; */
  /* overflow-x: hidden; */
}

.todoItemLi:first-child .todoItemDiv {
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
}
.todoItemLi:not(:first-child) {
  /* border-top: 1px solid black !important; */
  border-top-right-radius: 0px !important;
  position: relative;
  margin-top: 5px;
}

.todoItemLi .styleBorder {
  position: absolute;
  content: "";
  bottom: -4px;
  left: 0px;
  width: 100%;
  height: 2px;
  /* border-bottom: 1px solid cyan; */
  /* background: linear-gradient(-40deg, rgba(125, 155, 226, 0.9) 5%, rgba(174, 204, 238, 0.99) 60%); */
  background: linear-gradient(-40deg, rgba(12, 31, 75, 0.9) 5%, rgba(35, 82, 134, 0.99) 60%);
  z-index: 1;
  /* display: none; */
}

.todoItemLi2 .styleBorder {
  /* display: none; */
  bottom: -3px;
  left: 0px;
  width: 100%;
  height: 2px;
  /* box-shadow: 
    0 0px 4px 0 rgba(0, 0, 0, 0.5)
    ,inset 0 -2px 1px 0 rgba(255, 255, 255, 0.99)
    ; */
  /* background: linear-gradient(90deg, rgba(29, 173, 226, 0.9), rgba(159, 200, 220, 0.99)) !important; */
  background: linear-gradient(90deg, rgba(38, 25, 155, 0.9), rgba(36, 24, 102, 0.99)) !important;
  /* background-color: red; */
}

.todoItemLi:last-child {
  border-radius: 10px;
}

.todoItemLi:first-child {
  border-radius: 10px;
}

.todoListDiv li {
  position: relative;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.todoListDiv > li {
  border: 1px solid transparent;
  transition: 0.5s;
}

.todoContainerNeon .todoListDiv .todoItemDiv {
  box-shadow: inset 0 0 2px rgba(0, 255, 255, 0.5), inset 0 0 20px rgba(137, 43, 226, 0.6), inset 0 0 5px 1px rgba(0, 255, 255, 0.5);
}

.todoContainerNeon .todoListDiv > li {
  box-shadow: 0 0 2px cyan, 0 0 10px blueviolet, 0 0 10px blueviolet, 0 0 5px 1px cyan, 0 0 5px blueviolet;
  border: 1px solid cyan;
  border-radius: 16px !important;
}

.todoContainerNeon .todoListDiv > li::before {
  border: 1px solid cyan;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.4), 0 0 10px blueviolet, 0 0 10px blueviolet, inset 0 0 5px 1px rgba(0, 255, 255, 0.1),
    0 0 5px blueviolet, inset 0 0 5px blueviolet, inset 0 0 5px blueviolet;
}

.todoListDiv > li::before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  min-height: 0px;
  left: -35px;
  top: 25px;
  color: white;
  transition: all 0.3s ease-out;
  user-select: none;
  font-weight: 800;

  /* border: 1px solid rgb(197, 224, 255); */
  border: 1px solid rgb(104, 126, 255);
  border-radius: 20px;

  box-shadow: inset 0px 0px 2px 0px rgb(0, 0, 0, 0.9), 0px 0px 15px 0px rgb(0, 0, 0, 0.4);
  /* background: linear-gradient(-40deg, rgba(125, 155, 226, 0.9) 5%, rgba(174, 204, 238, 0.99) 60%); */
  /* background: linear-gradient(-40deg, rgba(16, 36, 82, 0.9) 30%, rgba(23, 65, 112, 0.99) 80%); */
  background: radial-gradient(rgba(45, 91, 199, 0.9), rgba(6, 15, 27, 0.99));
  color: rgb(255, 255, 255);
  text-shadow: 0 1px 10px gray;

  padding: 2px 10px;

  margin-bottom: -20px;
  margin-top: -20px;
  font-size: 1.3em;

  display: flex;
  width: fit-content;
  z-index: 1;
}

.addNoteDiv {
  border-radius: 20px;
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 20px;
  position: relative;
  /* border: 2px solid green; */
}

.todoContainer > .addNoteDiv {
  border-top: 1px solid cyan;
  margin-top: 50px;
}

.todoContainer > .addNoteDiv::before {
  position: absolute;
  content: "";
  top: -5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  left: 0px;
  width: 100%;
  height: 20px;
  border-top: 1px solid rgb(0, 119, 255);
  /* filter: 
    drop-shadow(0 0 2px rgba(0, 255, 255, 0))
    drop-shadow(0 0 10px rgba(137, 43, 226, 0))
    drop-shadow(0 0 10px rgba(137, 43, 226, 0))
    drop-shadow(0 0 5px rgba(0, 255, 255, 0))
    drop-shadow(0 0 5px rgba(137, 43, 226, 0))
    ; */
  transition: 1s;
}

.todoContainer .addNoteDivNeon::before {
  border-top: 1px solid cyan;
  filter: drop-shadow(0 0 2px cyan) drop-shadow(0 0 10px blueviolet) drop-shadow(0 0 10px blueviolet) drop-shadow(0 0 5px cyan)
    drop-shadow(0 0 5px blueviolet);
}

.addNoteDiv textarea {
  width: 100%;
  max-width: 100%;
  min-height: 100px;
  /* background: linear-gradient(rgb(243, 250, 255), rgb(227, 237, 255)); */
  background: linear-gradient(to right, rgb(187, 225, 247), rgb(107, 146, 207));
  padding-top: 5px;
  padding-left: 15px;
  margin-left: 10px;
  border-radius: 20px;
  outline: none;
  /* border: 3px solid tomato; */
  /* display: none; */
}

.addNoteBtn {
  margin-left: 10px;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  font-weight: bolder;
  margin-right: 10px;
  padding: 0px;
  font-size: 40px;
  color: rgb(96, 255, 244);
  text-shadow: 2px 0 2px rgb(86, 241, 231), 2px 0 2px rgb(27, 74, 50), -2px 0 1px rgb(63, 169, 72), 0px 2px 1px rgba(29, 160, 55, 0.99),
    0px 0px 10px rgba(39, 19, 255, 0.8);
  transition: 0.5s;
}

#mainAddNoteBtn {
  user-select: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 10px;
  width: 100%;
  border-top: 1px dotted rgb(36, 52, 52);
  background-color: rgba(92, 216, 212, 0.2);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  transition: 0.5s, 0.2s transform;
}

#mainAddNoteBtn:hover {
  background-color: rgba(145, 255, 251, 0.2);
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}

.addNoteBtn:hover {
  color: white;
  text-shadow: -2px 0 2px rgb(66, 122, 157), 2px 0 2px rgb(66, 122, 157), 1px 0 2px white,
    0px 0 5px white /* , 0px 1px 10px white */ /* , 0px 0px 10px white */;
}

.addSubNoteWrapperDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  transition: 1s;
  animation: 1s expandAnim forwards;
  /* border: 2px solid red; */
}

@keyframes expandAnim {
  0% {
    min-height: 0px;
  }
  100% {
    min-height: 45px;
  }
}

.addSubNoteWrapperDiv ol {
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  /* border: 1px solid blue; */
  /* border-left: 2px dashed rgb(0, 255, 217); */
  margin-top: 5px;
  margin-left: 20px;
  position: relative;
}

.addSubNoteWrapperDiv ol::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  top: 5px;
  left: 0px;
  /* border-left: 1px dashed rgb(0, 255, 217); */
  background: linear-gradient(transparent, cyan, transparent);
  /* filter: drop-shadow(0 0 5px cyan); */
}

.addSubNoteWrapperDiv > li {
  /* border: 2px solid red; */
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(16, 56, 135, 0.4);
}

/* .addSubNoteWrapperDiv li{
    background-color: rgba(16, 56, 135, 0.4);
} */

.addSubNoteWrapperDiv li:not(:last-child) {
  /* border-bottom: 1px solid rgb(65, 134, 184); */
  border-radius: 0px;
  position: relative;
  padding-bottom: 3px;
}

.addSubNoteWrapperDiv li:not(:last-child)::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  bottom: -1px;
  left: 0px;
  /* background-color: rgb(43, 110, 226); */
  background: linear-gradient(to right, rgb(0, 149, 255), rgba(137, 43, 226, 0));
  filter: 
    /* drop-shadow(0 0 2px cyan) */ ;
}

.addSubNoteWrapperDiv li .todoSubNoteDiv {
  cursor: pointer;
  width: fit-content;
  /* border: 2px solid red; */
}

.addSubNoteWrapperDiv li .todoSubNoteDiv .todoSubNoteInputDiv {
  display: flex;
  width: 200px;
}

.addSubNoteWrapperDiv p {
}

.addSubNoteWrapperDiv li,
.addSubNoteWrapperDiv p {
  margin: 0px;
  padding: 0px;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}

.addSubNoteDiv {
  width: fit-content;
  margin-left: 50px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -50px;
  transition: 1s;
  animation: 1s slideInFromTop forwards;
  /* border: 1px solid black; */
}

@keyframes slideInFromTop {
  0% {
    top: -50px;
  }
  100% {
    top: 0px;
  }
}

.addSubNoteDiv input {
  width: 90%;
  border-radius: 5px;
  border: 2px solid transparent;
  padding-left: 5px;
  outline: none;
}

.addSubNoteDiv input[class="subNoteTextNotEmpty"] {
  animation: 0.3s subNoteNotEmptyAnim 0.3s 10;
}

@keyframes subNoteNotEmptyAnim {
  0% {
    border: 2px solid cyan;
  }
  50% {
    border: 2px solid blue;
  }
  100% {
    border: 2px solid rgb(45, 0, 66);
  }
}

.addSubNoteBtn {
  position: relative;
}

.addSubNoteBtn::before {
  position: absolute;
  content: "+";
  top: 8px;
  left: 15px;
  font-size: 16px;
  color: white;
  text-shadow: 2px 0 2px rgb(70, 194, 186), 2px 0 2px rgb(27, 74, 50), -2px 0 1px rgb(63, 169, 72), 0px 2px 1px rgba(29, 160, 55, 0.99),
    0px 0px 10px rgba(39, 19, 255, 0.8);
}

/* No items yet styles */
.borderBox {
  cursor: pointer;
  position: relative;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%);  */
  width: 400px;
  height: 300px;
  /* background: #001e2d; */
  /* background: linear-gradient(rgb(0, 30, 45), rgb(71, 5, 83)); */
  background: linear-gradient(rgb(0, 30, 45), rgb(94, 8, 109));
  overflow: hidden;
  /* box-shadow: 0 0px 50px rgba(24, 2, 37, 0.5); */
  box-shadow: 0 0px 50px rgba(24, 2, 37, 0.5), 0 0px 50px 2px rgba(32, 8, 45, 0.99);
  border: 2px solid rgba(0, 0, 0, 0.5);
  /* border-radius: 10px; */
  transition: 0.8s box-shadow;
}

.borderBox:hover {
  /* box-shadow: 0 0px 50px rgba(0,0,0,.5)
    , 0px 0px 20px 1px rgba(60, 193, 255, 0.99);
    ; */
  /* box-shadow: 
    0 0px 50px rgba(159, 22, 238, 0.5)
    , 0 0px 50px 2px rgba(32, 8, 45, 0.99)
    ; */
}

/* .borderBox:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.1);
    transition: 0.5s;
    pointer-events: none;
}

.borderBox:hover:before {
    left: -50%; 
    transform: skewX(-5deg);
} */

.borderBoxContent {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  padding: 30px;
  text-align: center;
  border: 2px solid rgb(76, 43, 226);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  animation: 10s rotateBorderColor;
  animation-iteration-count: infinite;

  /* box-shadow: 
    -1px 0 10px blueviolet
    , 0px -1px 10px cyan
    , 0px 1px 10px blueviolet
    , inset 0 0 2px rgba(0, 255, 255, .5)
    , inset 0 0 30px rgba(137, 43, 226, 0.6)
    , inset 0 0 5px 1px rgba(0, 255, 255, 0.5)
    ; */
}

@keyframes rotateBorderColor {
  0% {
  }
  50% {
    border: 2px solid rgb(43, 198, 226);
  }
  100% {
    border: 2px solid rgb(76, 43, 226);
  }
}

.borderBox .borderBoxContent h1 {
  /* color: cyan;
    font-size: 30px;
    margin: 0 0 010px;
    padding: 0; */

  font-weight: lighter;
  font-family: Italiana;
  margin-left: 10px;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  font-weight: bolder;
  margin-right: 10px;
  padding: 0px;
  font-size: 30px;
  color: rgb(96, 255, 244);
  text-shadow: 2px 0 2px rgb(255, 133, 133), 2px 0 2px rgb(27, 74, 50), -2px 0 1px rgb(63, 169, 72), 0px 2px 1px rgba(29, 160, 55, 0.99),
    0px 0px 10px rgba(39, 19, 255, 0.8);
  transition: 0.5s;
  font-size: 29px;
}

/* ABeeZee|Allura|Italiana|Montserrat|Philosopher|Playball|Poiret+One|Quicksand|Sofia */
.borderBox .borderBoxContent p {
  font-family: Quicksand;
  color: rgb(194, 240, 247);
  transition: 0.2s;
  margin: 0px;
  padding: 0px;
}

.borderBox .borderBoxContent p span {
  font-weight: bolder;
  color: cyan;
  position: unset;
  top: 0px;
  left: 0px;
  display: unset;
  height: unset;
  width: unset;
}

.borderBox .borderBoxContent p#egCategories {
  font-weight: bolder;
  color: rgb(4, 182, 209);
  display: unset;
  height: unset;
  width: unset;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
}

.borderBox .borderBoxContent p span::before {
  display: none;
}

.borderBox:hover .borderBoxContent p:first-child {
  color: white;
  text-shadow: 0 0 5px white, 0 0 40px white;
}

.borderBox:hover .borderBoxContent p:first-child span {
  text-shadow: 0 0 5px cyan !important;
  /* filter: drop-shadow(0 0 1px rgba(0, 255, 255, 0.99)); */
}

.borderBox span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
}

.borderBox span:nth-child(1) {
  transform: rotate(0deg);
}
.borderBox span:nth-child(2) {
  transform: rotate(90deg);
  margin-left: 50px;
}
.borderBox span:nth-child(3) {
  transform: rotate(180deg);
}
.borderBox span:nth-child(4) {
  transform: rotate(270deg);
  margin-left: -50px;
}
.borderBox span:nth-child(2)::before {
  animation-delay: -2s;
}
.borderBox span:nth-child(4)::before {
  animation-delay: -2s;
}

.borderBox span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  /* background: #0093ff; */
  /* background: rgb(76, 43, 226); */
  background: rgb(43, 128, 226);
  animation: borderAnimation 13s linear infinite;

  filter: drop-shadow(0px 0 20px rgba(137, 43, 226, 0.99)) drop-shadow(0px 0px 20px rgba(0, 255, 255, 0.7))
    drop-shadow(0px 0px 20px rgba(137, 43, 226, 0.99));
}

@keyframes borderAnimation {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  50% {
    transform: scaleX(1);
    transform-origin: left;
  }
  50.1% {
    transform: scaleX(1);
    transform-origin: right;
  }
  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}

.borderBoxWrapper {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/* Edit Project Name Styles */

.editProjectNameDiv {
  position: absolute;
  top: -40px;
  left: 20px;
  width: 0%;
  display: flex;
  /* border: 2px solid white; */
}

.editProjectNameDivInner {
  display: flex;
  min-width: 300px;
  /* border: 2px solid red; */
}

@media screen and (max-width: 800px) {
  .todoContainer {
    /* margin-right: ; */
    margin-left: 5px;
  }

  .editProjectNameDivInner {
    margin-left: 20px;
  }

  .todoListDiv > li::before {
    left: -25px !important;
  }
}

.editProjectNameDiv .editProjectNameBtnDiv {
  /* display: none; */
  /* border: 1px solid red; */
  /* height: unset; */
  margin-left: 50px;
}

.editProjectNameDiv .pencilIconSVG {
  /* display: none; */
  /* fill: none; */
  filter: 
    /* drop-shadow(0 0 30px rgba(0, 0, 0, 0.9)) */
    /* drop-shadow(0px 0 20px rgba(0, 0, 0, 0.1)) */ drop-shadow(
      1px 0 2px rgb(122, 43, 43)
    )
    /* drop-shadow(-2px 0 1px rgb(247, 93, 93)) */ drop-shadow(0px 1.5px 2px rgb(245, 93, 93))
    drop-shadow(0px 0px 3px rgba(184, 67, 67, 0.7))
    /* drop-shadow(0 2px rgb(255, 133, 133))
    drop-shadow(2px 0 2px rgb(27, 74, 50))
    drop-shadow(-2px 0 1px rgb(63, 169, 72))
    drop-shadow(0px 2px 1px rgba(29, 160, 55, 0.99))
    drop-shadow(0px 0px 10px rgba(39, 19, 255, 0.8)) */;
  position: relative;
  top: -5px;
}

.editProjectNameDiv .pencilIconSVG:hover {
  filter: 
    /* drop-shadow(0 0 30px rgba(0, 0, 0, 0.9)) */
    /* drop-shadow(0px 0 20px rgba(0, 0, 0, 0.1)) */ drop-shadow(
      0px 0 2px rgb(122, 43, 43)
    )
    drop-shadow(0px 0 1px rgb(247, 93, 93, 0.9)) drop-shadow(0px 1.5px 2px rgb(245, 93, 93)) drop-shadow(0px 0px 3px rgba(184, 67, 67, 0.7));
}

.editProjectNameDiv .pencilIconSVG #cap {
  transition: 0.2s;
  transform: translateY(-50px);
}
.editProjectNameDiv .pencilIconSVG:hover #cap {
  /* display: none; */
  transform: rotate(-10deg) translateX(-50px) translateY(-50px);
}

.editProjectNameDiv .pencilIconSVG #cap path:nth-child(1) {
  stroke-width: 60;
}

.editProjectNameDiv .pencilIconSVG #cap path:nth-child(2) {
  stroke-width: 30;
}

.editProjectNameDiv .pencilIconPath0 {
  fill: transparent;
  stroke: greenyellow;
  stroke-width: 20;
  stroke-miterlimit: 10;
  stroke-linecap: round;
}

.editProjectNameInputDiv {
  display: flex;
  /* border: 2px solid greenyellow */
}

.confrimEditProjectNameBtn .tickIconSVG {
  cursor: pointer;
  /* display: none; */
  width: 25px;
  margin-left: 15px;
  /* margin-top: -10px; */
  top: -5px;
  position: relative;
}

.cancelEditProjectNameBtn {
  /* border: 2px solid greenyellow; */
  width: 25px;
  margin-left: 10px;
  position: relative;
  top: -2px;
  cursor: pointer;
}

/* ABeeZee|Allura|Italiana|Montserrat|Philosopher|Playball|Poiret+One|Quicksand|Sofia */
.editProjectNameInputDiv input {
  font-family: Playball;
  font-size: 2em;
  color: white;
  text-shadow: 0 0 2px black, -1px 0 2px black, 1px 1px 2px black;
  height: 40px;
  outline: none;
  width: 300px;
  border-radius: 10px;
  border: 1px solid grey;
  padding-left: 10px;
  filter: drop-shadow(-1px 0 1px blueviolet) drop-shadow(0px -1px 1px cyan) drop-shadow(0px 1px 1px blueviolet);
  background: linear-gradient(rgb(62, 126, 204), rgb(116, 152, 202));

  margin-top: -8px;
  margin-left: -11px;
  text-shadow: none;
  filter: none;
  border: 1px dotted rgb(25, 79, 106);
  background: linear-gradient(to top, rgba(121, 154, 198, 0.571), transparent);
  background: none;
  font-weight: lighter;
  color: rgb(208, 144, 102);
}
