.saveIconSVG {
    cursor: pointer;
    /* border: 2px solid greenyellow; */
    width: 25px;
    height: auto;
    /* margin-left: 20px; */
    padding-left: 10px;
    filter: 
    drop-shadow(0px 0px 3px blueviolet)
    drop-shadow(0px 1.5px 2px rgb(39, 88, 187))
    drop-shadow(0px 0px 3px rgba(25, 176, 199, 0.7))
    ;
    transition: 0.2s;
}

.saveIconSVG:hover {
    filter: 
    drop-shadow(0px 1.5px 2px rgb(53, 211, 255))
    drop-shadow(0px 1.5px 5px rgb(53, 211, 255, 0.2))
    drop-shadow(0px 0px 3px blueviolet)
    drop-shadow(0px 0px 3px rgba(16, 116, 132, 0.7))
    ;
}

.saveIconPath0 {
    fill: transparent;
    stroke:cyan;
    stroke-width:20;
    stroke-miterlimit:10;
}

.saveIconPath1 {
    fill: transparent;
    stroke:cyan;
    stroke-width:30;
    stroke-miterlimit:10;
}

.saveIconPath2 {
    fill: transparent;
    stroke:cyan;
    stroke-width:20;
    stroke-miterlimit:10;
}
