/* .toggleBtnPath0 {
    display:none;
}
.toggleBtnPath1 {
    fill:#1A1A1A;
}
.toggleBtnPath2 {
    fill:url(#SVGID_1_);
}
.toggleBtnPath3 {
    fill:url(#SVGID_2_);
}
.toggleBtnPath4 {
    fill:#333333;
}
.toggleBtnPath5 {
    filter:url(#Adobe_OpacityMaskFilter);
}
.toggleBtnPath6 {
    opacity:0.75;
    mask:url(#SVGID_3_);
}
.toggleBtnPath7 {
    fill:url(#SVGID_4_);
    stroke:url(#SVGID_5_);
    stroke-width:3;
    stroke-miterlimit:10;
}
.toggleBtnPath8 {
    fill:none;
    stroke:url(#SVGID_6_);
    stroke-width:3;
    stroke-miterlimit:10;
} */


.toggleBtnPath0 {
    display:none;
}
.toggleBtnPath1 {
    fill:#1A1A1A;
}
.toggleBtnPath2 {
    fill:url(#SVGID_1_);
}
.toggleBtnPath3 {
    fill:url(#SVGID_2_);
}
.toggleBtnPath4 {
    fill:#333333;
}
.toggleBtnPath5 {
    filter:url(#Adobe_OpacityMaskFilter);
}
.toggleBtnPath6 {
    opacity:0.75;
    mask:url(#SVGID_3_);
}
.toggleBtnPath7 {
    fill:url(#SVGID_4_);
    stroke:url(#SVGID_5_);
    stroke-width:3;
    stroke-miterlimit:10;
}
.toggleBtnPath8 {
    fill:none;
    stroke:url(#SVGID_6_);
    stroke-width:3;
    stroke-miterlimit:10;
}